body {
    background: #f7f7f7;
    margin: 0;
}

#main-container {
    width: 75%;
    background: white;
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.11), 0 0 35px 0 rgba(0,0,0,0.06);
    margin-bottom: 10px;
    position: relative;
    margin-top: 130px;
    float: left;
    margin-left: 12.5%;
}

#header {
    width: 100%;
    height: 90px;
    background: #232323;
    border-bottom: 5px solid #f6c246;
    position: fixed;
    z-index: 10;
    margin-top: 0;
}

#header img {
    width: 6%;
    height: auto;
    transition: 1s;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#header img:hover{
    transform: rotate(45deg);
    transition: 1s;
}

#menu {
    position: fixed;
    height: 35px;
    background: #33464e;
    margin-top: 95px;
    width: 100%;
    z-index: 9;
    color: white;
    border-bottom: 1px solid #232323;
    padding-left:12.5%;
}

#menu > li {
    display: inline-block;
    float: left;
    margin: 0;
    border-right: 1px solid #2b3d44;
    border-left: 1px solid #354a52;
    transition: 1s;
    padding-top: 4px;
    width: auto;
    text-align: center;
    padding-right: 1%;
}

#menu > li:hover{
	background-color: #212e33;
	transition: 1s;
}


#menu > li > a {
    color: #FFF;
    line-height: 31px;
    font-family: DejaVuNeueCaps;
    display: block;
    transition: 0.2s;
    font-size: 0.9em;
    text-decoration: none;
    transition: 1s;
}

#menu > li > a img {
    height: 65%;
    padding-top: 2%;
    float: left;
    padding-left: 10%;
    padding-right: 5%;
}

#menu > li > a:hover {
    color: #f6c246;
    transition: 1s;
    font-weight: bold;
}

#menu .has-sub {
    z-index: 1;
}

#menu .has-sub:hover > ul {
    display: block;
}

.menuline {
    line-height: 31px;
    float: left;
}

#main {
    position: relative;
}

#left{
    float: left;
    width: 67%;
    margin-top: 1%;
    margin-left: 1%;
    position: relative;
}

#right {
    position: relative;
    width: 31%;
    float: right;
    margin-top: 1%;
    z-index: 2;
}

#footer {
    border-top: 1px solid #e2e2e2;
    padding: 50px;
    color: #05172099;
    font-family: DejaVuNeueCaps;
    font-size: 0.9em;
    font-weight: bold;
}

.right_bg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 31%;
    background: #ffffff;
}

.right_bg:before {
    content: "";
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 1px; height: 100%;
    background: #e7e7e7;
    z-index: 1;
}

.right_bg:after {
    content: "";
    position: absolute;
    left: 0; 
    bottom: 0;
    width: 100%; 
    height: 20%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.barsection {
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    margin-bottom: 2%;
}

.barname {
    background: #33464e;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 15px;
    border-radius: 4px 4px 0 0;
    font-family: DejaVuNeueCaps;
    padding-left: 4%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.matchestb {
    width: 100%;
    font-family: DejaVuNeue;
    border-collapse: collapse;
    overflow: hidden;
    border: 1px solid #e2e2e2;
    margin-bottom: 2%;
}

.matchestb thead>tr {
    cursor: pointer;
    background-color: #33464e;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    font-family: bpg1;
    text-align: center;
}

.matchestb thead>tr>td img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.matchestb tbody>tr {
    line-height: 26px;
    cursor: pointer;
    font-size: 13px;
    -webkit-text-stroke: thin;
    font-family: bpg1;
    border: 1px solid #e2e2e2;
    color: #2d2d2d;
    transition: 1s;
}

.matchestb tbody>tr:hover {
    background: #fdde4c;
    font-size: 14px;
    transition: 1s;
    font-weight: bold;
}

.maintables {
    width: 100%; 
    font-family: DejaVuNeue;
    border: 0;
    border-collapse: collapse;
    overflow: hidden;
}
.maintables thead>tr {
    cursor: pointer;
    background-color: #dadada;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    line-height: 25px;
    font-family: bpg1;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #f2be45;
}
.maintables thead>tr>td img {
    float: left;
    height: 15px;
    width: 15px;
    margin-top: 5px;
    margin-right: 7px;
}
.maintables tbody>tr {
    line-height: 26px;
    background: #fff;
    color: #2d2d2d;
    cursor: pointer;
    font-size: 13px;
    -webkit-text-stroke: thin;
    font-family: bpg1;
    border-bottom: 1px solid #e2e2e2;
    transition: 1s;
}
.maintables tbody>tr:nth-child(2n) {
    background: #f5f5f5;
}
.maintables tbody>tr:hover {
    background: #fdde4c;
    font-size: 14px;
    transition: 1s;
    font-weight: bold;
}
.maintables tbody>tr>td img {
	float: left;
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-right: 5px;
}

.maintables .pos span{
	padding: 5px;
	margin-left: 4px;
    color: #000;
    margin: auto;
    font-size: 10px;
    border-radius: 33px;
    background: #ccc;
}
.maintables .pos .ucl {
	background: #49a600;
    color: #fff;
}
.maintables .pos .ucl2 {
	background: #9ED176;
    color: #fff;
}
.maintables .pos .uel {
	background: #0087b1;
    color: #fff;
}
.maintables .pos .mid {
	background: #cccccc;
    color: #000;
}
.maintables .pos .rel {
	background: #d7180f;
    color: #fff;
}

.match-inner {
    overflow: hidden;
    width: 98%;
    margin: 1%;
}

.match-inner > .item {
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.match-inner > .item > .cover {
    width: 100%;
}
.match-inner > .item > img,
.match-inner > .item > a > img { line-height: 1; vertical-align: top; }

.match-inner > .active,
.match-inner > .next,
.match-inner > .prev { display: block; }
.match-inner > .active {left: 0;}
.match-inner > .next,
.match-inner > .prev { position: absolute; top: 0; width: 100%; }
.match-inner > .next { left: 100%; }
.match-inner > .prev { left: -100%; }
.match-inner > .next.left,
.match-inner > .prev.right { left: 0; }
.match-inner > .active.left { left: -100%; }
.match-inner > .active.right { left: 100%; }


.matchAway{
    color: white;
    font-family: 'DejaVuNeueCaps';
    font-size: 20px;
    position: absolute;
    z-index: 1;
    right: 6.6%;
    margin-top: 38.6%;
}

.matchHome{
    color: white;
    float: left;
    font-family: 'DejaVuNeueCaps';
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 6.6%;
    margin-top: 38.6%;
}

.HomeIcon{
    float: left;
    position: absolute;
    z-index: 1;
    margin-left: 34%;
    margin-top: 37.7%;
}

.HomeIcon img{
	width: 50px;
	float: left;
}

.AwayIcon{
    float: left;
    position: absolute;
    z-index: 1;
    right: 34%;
    margin-top: 37.7%;
}

.AwayIcon img{
	width: 50px;
	float: right;
}

.HomeScore{
    float: left;
    color: #62d9ed;
    font-size: 43px;
    font-family: archy;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-left: 44.5%;
    margin-top: 38.5%;
}

.AwayScore{
    float: right;
    color: #62d9ed;
    font-size: 43px;
    font-family: 'archy';
    text-align: center;
    position: absolute;
    z-index: 1;
    right: 44.5%;
    margin-top: 38.5%;
}

.MatchDate{
	color: white;
	width: 100%;
	text-align: center;
	font-size: 13px;
	font-family: bpg1;
	position: absolute;
	z-index: 1;
    margin-top: 45.8%;
}

.MatchTour{
    color: white;
    font-family: bpg1;
    font-size: 15px;
    float: left;
    position: absolute;
    z-index: 1;
    margin-top: 48.7%;
    margin-left: 9%;
}

.MatchStadium{
    color: white;
    font-family: bpg1;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    right: 9.5%;
    margin-top: 48.7%;
}

.homeScorer{
	color: #e7eec1;
    font-family: DejaVuNeueCaps;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    margin-left: 6.1%;
    background: #123a4ac2;
    width: 25.3%;
    padding-left: 5px;
    padding-top: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #ffffff9c;
    font-weight: bold;
    text-align: left;
}

.awayScorer{
    color: #e7eec1;
    font-family: DejaVuNeueCaps;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    right: 5.9%;
    background: #123a4ac2;
    width: 25.34%;
    padding-right: 5px;
    padding-top: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #ffffff9c;
    font-weight: bold;
    text-align: right;
}

@media only screen and (max-width:700px) {
	.matchHome, .matchAway{
		font-size: 12px
	}

	.HomeScore, .AwayScore{
        margin-top: 36%;
		font-size: 26px;
	}

	.MatchStadium, .MatchTour{
		font-size: 7px;
	}

	.MatchDate{
		font-size: 8px;
	}

	.AwayIcon img, .HomeIcon img{
		width: 17%;
	}
    
    .homeScorer, .awayScorer{
		font-size: 6px;
		width: 24.8%
	}
}