body {
    background: #f7f7f7;
    margin: 0;
}

.main {
    width: 75%;
    background: white;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.11), 0 0 35px 0 rgba(0,0,0,0.06);
    margin-top: 5px;
    margin-bottom: 10px;
}

.header {
    width: 100%;
    height: 150px;
    background: #232323;
    border-bottom: 7px solid #f6c246;
}

.header img {
    width: 9.5%;
    height: auto;
    margin-left: 40%;
    transition: 1s;
    margin-top: 10px;
}

.header img:hover{
    transform: rotate(45deg);
    transition: 1s;
}

.menu {
    height: 60px;
    background: #33464e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mainbody {
    min-height: 700px;
}

.mainmatches{
    float: left;
    width: 67.9%;
    margin-top: 5px;
    margin-left: 0.5%;
}

.sidebar {
    min-height: 700px;
    width: 31%;
    float: right;
    border-left: 1px solid #e2e2e2;
}

.barsection {
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.barname {
    background: #153d4d;
    padding: 10px;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    font-family: DejaVuNeueCaps;
    padding-top: 14px;
}

.footer {
    border-top: 1px solid #e2e2e2;
    padding: 50px;
    color: #05172099;
    font-family: DejaVuNeueCaps;
    font-size: 0.9em;
    font-weight: bold;
}

.matchestb {
    width: 100%;
    font-family: DejaVuNeue;
    border-collapse: collapse;
    overflow: hidden;
    border: 1px solid #e2e2e2;
}

.matchestb thead>tr {
    cursor: pointer;
    background-color: #33464e;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    font-family: bpg1;
    text-align: center;
}

.matchestb thead>tr>td img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.matchestb tbody>tr {
    line-height: 26px;
    cursor: pointer;
    font-size: 13px;
    -webkit-text-stroke: thin;
    font-family: bpg1;
    border: 1px solid #e2e2e2;
    color: #2d2d2d;
    transition: 1s;
}

.matchestb tbody>tr:hover {
    background: #fdde4c;
    font-size: 14px;
    transition: 1s;
    font-weight: bold;
}